<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Room MLIB226)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>[Data Organization in Spreadsheets](https://datacarpentry.org/spreadsheet-ecology-lesson/)</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Intro to R and Markdown</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Room MLIB226)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>The Unix Shell</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Data Visualization and manipulation with R</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 - Optional (Room MLIB442)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Projects and Version Control in R</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee</td> </tr>
      <tr> <td>10:30</td>  <td>Creating websites with R and Markdown</td> </tr>
      <tr> <td>12:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
